<ion-content>
  <div class="chemlab-content">
    <div class="chemlab-container">
      <img src="/assets/chemlab.svg" alt="chemlab-logo" class="chemlab-logo">
      <h1>ChemLab</h1>
      <h3>Calculate Your Chemistry</h3>
      <p>At ChemLab, we simplify chemistry calculations, making complex concepts easy and fun to explore. Whether you're a student, teacher, or science enthusiast, our tools deliver accurate results and clear insights.</p>
      <ion-card [routerLink]="['/home']">Get Started</ion-card>
    </div>
  </div>
</ion-content>
